{% load static %}
<div class="container">
<header class="header-dt d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
    <img src="{% static 'img/logo.png' %}" alt="ФАУСТОВ"/>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#cases" class="nav-link px-2">С ЧЕМ Я РАБОТАЮ</a></li>
    <li><a href="#features" class="nav-link px-2">ОБО МНЕ</a></li>
    <li><a href="#services" class="nav-link px-2">УСЛУГИ</a></li>
    <li><a href="#contacts" class="nav-link px-2">КОНТАКТЫ</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a href="#contacts" class="btn btn-outline-secondary me-2">Записаться на прием</a>
  </div>
</header>
</div>

<div class="header-control">
    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#E4B7A0" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5M8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6"/>
    </svg>
</div>

<header class="header-mb">
    <div class="header-mb-container">
        <div class="header-mb-links">
            <a href="#cases" class="nav-link px-2">С ЧЕМ Я РАБОТАЮ</a>
            <a href="#features" class="nav-link px-2">ОБО МНЕ</a>
            <a href="#services" class="nav-link px-2">УСЛУГИ</a>
            <a href="#contacts" class="nav-link px-2">КОНТАКТЫ</a>
        </div>

        <a href="#contacts"><button class="btn btn-outline-secondary">ЗАПИСАТЬСЯ НА ПРИЕМ</button></a>
    </div>
</header>
