{% load static %}
<div class="container">
<header class="header-dt d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
    PSYFAUST
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#cases" class="nav-link px-2">С ЧЕМ Я РАБОТАЮ</a></li>
    <li><a href="#features" class="nav-link px-2">ОБО МНЕ</a></li>
    <li><a href="#services" class="nav-link px-2">УСЛУГИ</a></li>
    <li><a href="#contacts" class="nav-link px-2">КОНТАКТЫ</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a href="#contacts" class="btn btn-outline-secondary me-2">Записаться на прием</a>
  </div>
</header>
</div>

<header class="header-mb">
    <div class="header-control">
        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#E4B7A0" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
        </svg>
    </div>

    <div class="header-mb-container">
        <div class="header-mb-links">
            <a href="#cases" class="nav-link px-2">С ЧЕМ Я РАБОТАЮ</a>
            <a href="#features" class="nav-link px-2">ОБО МНЕ</a>
            <a href="#services" class="nav-link px-2">УСЛУГИ</a>
            <a href="#contacts" class="nav-link px-2">КОНТАКТЫ</a>
        </div>

        <a href="#contacts"><button class="btn btn-outline-secondary">ЗАПИСАТЬСЯ НА ПРИЕМ</button></a>
    </div>
</header>
