{% load static %}
<div class="container">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
    PSYFAUST
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-light">С ЧЕМ Я РАБОТАЮ</a></li>
    <li><a href="#" class="nav-link px-2 link-light">ОБО МНЕ</a></li>
    <li><a href="#" class="nav-link px-2 link-light">УСЛУГИ</a></li>
    <li><a href="#" class="nav-link px-2 link-light">ОТЗЫВЫ</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-success me-2">Записаться на прием</button>
  </div>
</header>
</div>