{% load static %}
<div id="features" class="features block secondary">
<div class="container">
    <h2>Я В ЦИФРАХ</h2>
</div>
  <div class="container">
    <div class="row gy-4" style="justify-content: center">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="feature-item position-relative">
          <div class="icon">
            228
          </div>
            <h3>Nesciunt Mete</h3>
          <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="feature-item position-relative">
          <div class="icon">
            1488
          </div>
            <h3>Eosle Commodi</h3>
          <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="feature-item position-relative">
          <div class="icon">
            1337
          </div>
            <h3>Ledo Markt</h3>
          <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="qualifications" class="qualifications block">
    <div class="container">
        <h2>КВАЛИФИКАЦИИ</h2>
    </div>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static '/img/bg-2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static '/img/bg.jpg' %}" class="d-block w-100" alt="..." style="overflow: hidden">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
    </div>
</div>

<div id="about-me" class="about-me block secondary">
    <div class="container">
        <h2>ОБО МНЕ</h2>
    </div>
    <div class="container">
        <div class="about-me-content">
            <img src="{% static '/img/portrait.jpeg' %}" alt="..."/>
            <p>
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
                llorem ipsum dolor sit amet
            </p>
        </div>
    </div>
</div>
