<!-- Section: Timeline -->
<div id="timeline" class="timeline-container block secondary">
<div class="container">
    <h2>КАК ВСЁ ПРОИСХОДИТ</h2>
</div>
<section class="container">
<ul class="timeline">
    <li class="timeline-item mb-5">
    <h5 class="fw-bold">Первичное обращение</h5>
    <p>
      Вы связываетесь со мной, чтобы обсудить ваш запрос и договориться о времени нашей первой встречи.
    </p>
    </li>
    <li class="timeline-item mb-5">
    <h5 class="fw-bold">Первичная консультация</h5>
    <p>
      На первой встрече я внимательно выслушаю вас, задам уточняющие вопросы и помогу сформулировать ваши цели.
    </p>
    </li>
    <li class="timeline-item mb-5">
    <h5 class="fw-bold">Диагностика и планирование</h5>
    <p>
      Я провожу анализ вашей ситуации и разрабатываю индивидуальный план, который поможет вам достичь желаемого результата.
    </p>
    </li>
    <li class="timeline-item mb-5">
    <h5 class="fw-bold">Работа с проблемой</h5>
    <p>
      Во время регулярных сессий мы будем работать над вашими трудностями, разбирая их шаг за шагом.
    </p>
    </li>
    <li class="timeline-item mb-5">
    <h5 class="fw-bold">Мониторинг прогресса</h5>
    <p>
      Я буду отслеживать ваш прогресс, помогать вам замечать изменения и корректировать план, если это потребуется.
    </p>
    </li>
    <li class="timeline-item mb-5">
    <h5 class="fw-bold">Решение проблемы</h5>
    <p>
      Мы завершим нашу работу, когда вы почувствуете себя уверенно, а я предоставлю вам рекомендации для дальнейшего самостоятельного развития.
    </p>
    </li>
    <li class="timeline-item mb-5">
    <h5 class="fw-bold">Поддерживающие встречи</h5>
    <p>
      Если потребуется, мы сможем продолжить поддерживающие консультации, чтобы укрепить достигнутые результаты.
    </p>
    </li>
</ul>
</section>
</div>
<!-- Section: Timeline -->