{% load static %}

<!-- Favicon -->
<link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">

<!-- Icons for different devices -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">

<!-- Manifest File -->
<link rel="manifest" href="{% static 'site.webmanifest' %}">

<!-- Optional: Theme Color -->
<meta name="theme-color" content="#E4B7A0">

<meta charset="UTF-8">
<title>Психолог Олег Фаустов – официальный сайт | Онлайн и офлайн консультации</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="robots" content="index">