html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Arial', Arial, sans-serif;
  color: #E0E0E0;
  text-decoration: #E0E0E0;
  background-color: #1C1F26;
}

h3 {
  font-size: 2.5rem;
}

header {
  font-size: 1rem;
  font-weight: 500;
}

header img {
  height: 50px;
}

.nav-link, .btn {
  color: #E0E0E0;
}

.nav-link:hover {
  color: #E4B7A0;
}

footer .nav {
  flex-direction: column;
  align-items: flex-end;
}

footer .nav-link {
  text-align: right;
}

footer .col-md-2 {
  max-width: 200px;
}

a {
  color: #E4B7A0;
}

a:hover {
  text-decoration: #E4B7A0;
}

.btn {
  border: 1px solid #E4B7A0;
  color: #E4B7A0;
  border-radius: 0;
}

.btn:hover {
  background: #E4B7A0;
  color: #1C1F26;
}

.block {
  height: auto;
  padding: 3rem 0;
}

.secondary {
  background-color: #2A3B36;
}

h2 {
  padding-bottom: 1.5rem;
  font-size: 3rem;
}

.underline {
  border-bottom: 1px solid #E4B7A0;
}

.cases-cluster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cases-cluster ul li {
  color: #E4B7A0;
}

.cases-cluster li {
  font-size: 1rem;
}

.cases-cluster svg:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
}

.reverse {
  align-items: flex-end;
}

.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/static/img/vp.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  padding: 0 3rem 7rem 3rem;
}

.hero p {
  font-size: 2.5rem;
  color: #E4B7A0;
}

.hero a {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 500;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.features .feature-item {
  text-align: center;
  padding: 20px;
  height: 100%;
}

.features .feature-item .icon {
  margin: 0 auto 20px;
  font-size: 4rem;
  color: #E4B7A0;
}

.features .feature-item h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.features .feature-item p {
  font-size: 1rem;
  margin-bottom: 0;
  color: #E4B7A0;
}

.carousel-item img {
  max-height: 80vh;
}

.carousel-inner img {
  margin: auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-me-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.about-me-content img {
  max-width: 40%;
}

.about-me-content p {
  font-size: 1.25rem;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-me-text p {
  margin: 0;
}

.about-me-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-me-btn a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.about-me-btn .btn {
  font-size: 1.5rem;
  width: 80%;
}

.timeline {
  border-left: 1px solid #E4B7A0;
  position: relative;
  list-style: none;
  max-width: 50%;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #E4B7A0;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.timeline h5 {
  font-size: 1.5rem;
}

.timeline p {
  font-size: 1rem;
  color: #E4B7A0;
}

.services .card {
  padding: 3rem 1.5rem;
  border-radius: 0;
  border: 1px solid #E4B7A0;
  background: none;
  align-items: center;
  color: #E0E0E0;
}

.services .card:hover {
  background-color: #262a33;
  transition: 0.5s;
}

.services .card button {
  width: 150px;
  height: 50px;
  border: 1px solid;
  text-align: center;
  margin-top: 15px;
  border-radius: 0;
}

.card-title {
  font-size: 1.5rem;
}

.card-desc {
  text-align: center;
  font-size: 1rem;
  min-height: 72px;
}

.card-sub {
  color: #b2b0b0;
  font-size: 1rem;
  text-align: center;
}

.card .btn {
  font-size: 1rem;
}

.services .card-group {
  display: flex;
  gap: 50px;
  align-items: center;
}

.card-group .card {
  flex: 1 1 30%;
}

.services .card-price {
  font-size: 2.5rem;
  color: #E4B7A0;
}

.accordion {
  background: none;
}

.accordion-item {
  background: none;
  border: 1px solid #E4B7A0;
}

.accordion-button {
  background: none;
  color: #E0E0E0;
  font-size: 1.5rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='%23E4B7A0' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='%23E4B7A0' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
  transform: rotate(-45deg);
}

.accordion-body {
  color: #E0E0E0;
  font-size: 1rem;
}

.accordion h2 {
  padding: 0.5rem;
}

.contact-cards {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: 20px;
}

.contact-card-row {
  display: flex;
  gap: 20px;
}

.contact-card {
  padding: 20px;
  min-width: 300px;
  min-height: 200px;
  border: 1px solid #E4B7A0;
  display: flex;
  gap: .5rem;
}

.contact-card:hover {
  background-color: #E4B7A0;
  color: #1C1F26;
}

.contact-card {
  text-decoration: none;
  transition: all 500ms ease;
}

.contact-card h5 {
  font-size: 1.5rem;
}

.contact-card h5:hover {
  text-decoration: none;
}

.list-group-item {
  color: #E0E0E0;
}

.header-mb {
  display: none;
  z-index: 4;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #1C1F26;
}

.header-control {
  display: none;
}

.header-control svg {
  position: fixed;
  max-width: 50px;
  top: 20px;
  right: 30px;
  z-index: 5;
  transition: all 500ms ease;
}

.header-control img {
  max-width: 200px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.header-mb-container {
  display: flex;
  height: 100%;
  padding: 4rem 2rem 7rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-mb-container button {
    height: 100%;
    padding: 30px;
    font-size: 1.25rem;
}

.header-mb-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  gap: 30px;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

@media (max-width: 1200px) {
  .viewport br {
    display: none;
  }

  .hero {
    background-size: auto;
  }

  .services .card-group {
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
  }

  .services .card-group .card {
    width: 100%;
  }

  .about-me-content {
    flex-direction: column;
  }

  .about-me-content img {
    max-width: unset;
  }

  .about-me-content p {
    font-size: unset;
  }

  .about-me-btn {
    padding-top: 2rem;
  }
}

@media (max-width: 992px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/img/vp.jpg");
  }

  .hero-container {
    padding: 0 1rem 5rem 1rem;
  }

  .header-dt {
    display: none !important;
  }

  .header-mb {
    display: unset;
  }

  .header-control {
    display: unset;
  }

  .services .card-group {
    padding: 0 1rem;
  }

  .services .card-group .card {
    max-width: unset;
  }

  .header-mb-links {
    font-size: 1.5rem;
  }

  .timeline {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .hero p {
  font-size: 2rem;
}

  .block {
    min-height: auto;
  }

  .features .row {
    flex-direction: column;
    align-items: center;
  }

  .contact-card {
    width: -webkit-fill-available;
    min-width: auto;
    min-height: 150px;
  }

  .contact-card h5 {
    font-size: 1.25rem;
  }

  .timeline {
    max-width: unset;
  }

  .carousel-item img {
    max-height: 30vh;
}

  .accordion-button {
    font-size: 1.25rem;
  }

  footer .col-md-2 {
    max-width: 150px;
  }
}
