html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Arial', Arial, sans-serif;
  color: #E0E0E0;
  text-decoration: #E0E0E0;
  background-color: #1C1F26;
}

h3 {
  font-size: 36px;
}

.nav-link, .btn {
  color: #E0E0E0;
}

.nav-link:hover {
  color: #E4B7A0;
}

footer .nav {
  flex-direction: column;
  align-items: flex-end;
}

a {
  color: #E4B7A0;
}

a:hover {
  text-decoration: #E4B7A0;
}

.btn {
  border: 1px solid #E4B7A0;
  color: #E4B7A0;
  border-radius: 0;
}

.btn:hover {
  background: #E4B7A0;
  color: #E0E0E0;
}

.block {
  height: auto;
  min-height: 100%;
  padding: 3rem 0;
}

.secondary {
  background-color: #2A3B36;
}

h2 {
  padding-bottom: 1.5rem;
  font-size: 80px;
}

.cases-cluster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cases-cluster li {
  font-size: 20px;
}

.cases-cluster svg:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
}

.reverse {
  align-items: flex-end;
}

.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/static/img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h1 {
  margin: 0;
  font-size: 81px;
  font-weight: 500;
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 38px;
  opacity: 0.8;
}

.hero button {
  margin: 5px 0 0 0;

}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }
}

.features {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.features .feature-item {
  text-align: center;
  padding: 20px;
  height: 100%;
}

.features .feature-item .icon {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  font-size: 32px;
}

.features .feature-item h3 {
  font-weight: 700;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  transition: 0.3s;
  position: relative;
}

.features .feature-item h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: calc(50% - 25px);
}

.features .feature-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.about-me-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.about-me-content img {
  max-width: 40%;
}

.timeline {
  border-left: 1px solid #E4B7A0;
  position: relative;
  list-style: none;
  max-width: 50%;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #E4B7A0;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.services .card {
  padding: 20px;
  border-radius: 0;
  border: 1px solid;
  background: none;
  align-items: center;
}

.services .card button {
  width: 150px;
  height: 50px;
  border: 1px solid;
  text-align: center;
  margin-top: 15px;
  border-radius: 0;
}

.card-desc {
  text-align: center;
}

.services .card-group {
  display: flex;
  gap: 50px;
}

.services .card-price {
  font-size: 42px;
  color: #E4B7A0;
}

.accordion {
  background: none;
}

.accordion-item {
  background: none;
  border: 1px solid #E4B7A0;
}

.accordion-button {
  background: none;
  color: #E0E0E0;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion h2 {
  padding: 0.5rem;
}

.contact-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-card-row {
  display: flex;
  gap: 20px;
}

.contact-card {
  padding: 20px;
  min-width: 300px;
  min-height: 200px;
  border: 1px solid #E4B7A0;
}

.contact-card:hover {
  background-color: #E4B7A0;
  color: #e0e0e0;
}

.contact-card {
  text-decoration: none;
  transition: all 500ms ease;
}

.contact-card h5:hover {
  text-decoration: none;
}

.list-group-item {
  color: #E0E0E0;
}