{% load static %}
<div id="services" class="services block">
    <div class="container">
        <h2>УСЛУГИ</h2>
    </div>
    <div class="container card-group">
        <div class="card">
            <h5 class="card-title">Консультация психолога</h5>
            <h6 class="card-sub">Продолжительность сессии: <br>60 минут</h6>
            <h3 class="card-price my-5">₽ 2500</h3>
            <p class="card-desc">Консультация психолога для решения жизненных трудностей и личностного роста в комфортной обстановке</p>
            <a href="#contacts"><button class="btn btn-outline-secondary">ЗАПИСАТЬСЯ</button></a>
        </div>
        <div class="card" style="border-left: 1px solid #E4B7A0">
            <h5 class="card-title">Онлайн-консультация</h5>
            <h6 class="card-sub">Продолжительность сессии: <br>60 минут</h6>
            <h3 class="card-price my-5">₽ 2000</h3>
            <p class="card-desc">Онлайн-консультация психолога для поддержки, решения трудностей и личного роста в удобном формате</p>
            <a href="#contacts"><button class="btn btn-outline-secondary">ЗАПИСАТЬСЯ</button></a>
        </div>
        <div class="card" style="border-left: 1px solid #E4B7A0">
            <h5 class="card-title">Семейная консультация</h5>
            <h6 class="card-sub">Продолжительность сессии: <br>60 минут</h6>
            <h3 class="card-price my-5">₽ 3000</h3>
            <p class="card-desc">Семейная консультация психолога для укрепления отношений и решения конфликтов</p>
            <a href="#contacts"><button class="btn btn-outline-secondary">ЗАПИСАТЬСЯ</button></a>
        </div>
    </div>
</div>