{% load static %}
<div id="services" class="services block">
    <div class="container">
        <h2>УСЛУГИ</h2>
    </div>
    <div class="container card-group">
        <div class="card">
            <h5 class="card-title">Название услуги</h5>
            <h6 class="card-sub">Продолжительность сессии: 60 минут</h6>
            <h3 class="card-price my-5">₽ 4000</h3>
            <p class="card-desc">Lorem ipsub dolor sit ametLorem ipsub dolor sit ametLorem ipsub dolor sit ametLorem ipsub dolor sit amet</p>
            <a href="#">ЗАПИСАТЬСЯ</a>
        </div>
        <div class="card" style="border-left: 1px solid">
            <h5 class="card-title">Название услуги</h5>
            <h6 class="card-sub">Продолжительность сессии: 60 минут</h6>
            <h3 class="card-price my-5">₽ 4000</h3>
            <p class="card-desc">Lorem ipsub dolor sit ametLorem ipsub dolor sit ametLorem ipsub dolor sit ametLorem ipsub dolor sit amet</p>
            <a href="#">ЗАПИСАТЬСЯ</a>
        </div>
        <div class="card" style="border-left: 1px solid">
            <h5 class="card-title">Название услуги</h5>
            <h6 class="card-sub">Продолжительность сессии: 60 минут</h6>
            <h3 class="card-price my-5">₽ 4000</h3>
            <p class="card-desc">Lorem ipsub dolor sit ametLorem ipsub dolor sit ametLorem ipsub dolor sit ametLorem ipsub dolor sit amet</p>
            <a href="#">ЗАПИСАТЬСЯ</a>
        </div>
    </div>
</div>