{% load static %}
<div id="services" class="services block">
    <div class="container">
        <h2>УСЛУГИ</h2>
    </div>
    <div class="container card-group">
        {% for service in services %}
            <div class="card" style="border-radius: 12px; {% if not forloop.first %} border-left: 1px solid #E4B7A0;{% endif %}">
                <h5 class="card-title">{{ service.title }}</h5>
                <h6 class="card-sub">Продолжительность сессии: <br>{{ service.time }} минут</h6>
                <h3 class="card-price my-5">₽ {{ service.price }}</h3>
                <p class="card-desc">{{ service.desc }}</p>
                <a href="#contacts"><button class="btn btn-outline-secondary">ЗАПИСАТЬСЯ</button></a>
            </div>
        {% endfor %}
    </div>
</div>