<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% include 'meta/meta.html' %}
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
</head>
<body>
{% include 'header/header.html' %}

{% include 'viewport/viewport.html' %}
{% include 'cases/cases.html' %}
{% include 'about/about.html' %}
{% include 'services/services.html' %}
{% include 'timeline/timeline.html' %}
{% include 'FAQ/FAQ.html' %}
{% include 'contacts/contacts.html' %}

{% include 'footer/footer.html' %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'js/mobile-header.js' %}"></script>
</body>
</html>