{% load static %}
<div id="cases" class="cases block">
<div class="container md-5">
    <h2>С ЧЕМ Я РАБОТАЮ</h2>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
    <div>
          <h3>ДЕТСКИЕ ТРАВМЫ</h3>
          <ul>
            <li>трудности в отношениях из-за пережитого в детстве.</li>
            <li>страх отвержения или чувство стыда.</li>
            <li>чувство несправедливости или вины за прошлое.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>НЕВРОЗЫ</h3>
          <ul>
            <li>постоянное беспокойство о близких.</li>
            <li>обсессивные действия, например, проверка дверей.</li>
            <li>чувство постоянного напряжения или тревоги.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ТРЕВОЖНОСТЬ</h3>
          <ul>
            <li>беспокойство перед важными событиями.</li>
            <li>избегание общения из-за страха осуждения.</li>
            <li>невозможность расслабиться даже в спокойной обстановке.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ПСИХОСОМАТИКА</h3>
          <ul>
            <li>головные боли или проблемы с пищеварением на фоне стресса.</li>
            <li>усиление болезней в тревожные периоды.</li>
            <li>хроническая усталость без физической причины.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>НИЗКАЯ САМООЦЕНКА</h3>
          <ul>
            <li>постоянная самокритика и зависть к успеху других.</li>
            <li>недоверие к своим способностям.</li>
            <li>избегание возможностей из страха неудачи.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ПАНИЧЕСКИЕ АТАКИ</h3>
          <ul>
            <li>внезапный страх с одышкой или дрожью.</li>
            <li>избегание людных мест после приступа.</li>
            <li>ощущение потери контроля в стрессовой ситуации.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>РАССТАВАНИЕ ИЛИ РАЗВОД</h3>
          <ul>
            <li>чувство одиночества и потери.</li>
            <li>трудности с доверием в новых отношениях.</li>
            <li>страх начать новые отношения.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ДЕПРЕССИЯ И АПАТИЯ</h3>
          <ul>
            <li>потеря интереса к жизни и постоянная усталость.</li>
            <li>чувство безысходности и ненужности.</li>
            <li>нежелание вставать с кровати или заниматься делами.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ЭМОЦИОНАЛЬНОЕ ВЫГОРАНИЕ</h3>
          <ul>
            <li>опустошенность после работы.</li>
            <li>раздражение и хроническая усталость.</li>
            <li>чувство, что ваша работа бессмысленна.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ПРОБЛЕМЫ УТРАТЫ И ПОИСКА СМЫСЛА ЖИЗНИ</h3>
          <ul>
            <li>боль от потери близкого человека.</li>
            <li>пустота после достижения целей.</li>
            <li>ощущение, что жизнь проходит мимо.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ПРИНЯТИЕ И ВЫРАЖЕНИЕ СЕКСУАЛЬНОСТИ</h3>
          <ul>
            <li>стыд за свою сексуальность.</li>
            <li>страх быть непонятым партнером.</li>
            <li>сложности в открытом обсуждении своих предпочтений.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>РАССТРОЙСТВО ПИЩЕВОГО ПОВЕДЕНИЯ</h3>
          <ul>
            <li>переедание или ограничение пищи из-за стресса.</li>
            <li>навязчивое стремление к диетам.</li>
            <li>стыд за внешний вид или вес.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ПРОКРАСТИНАЦИЯ И ЛЕНЬ</h3>
          <ul>
            <li>отсрочка дел до последнего момента.</li>
            <li>нежелание начинать важные задачи.</li>
            <li>занятость мелкими делами вместо главных.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ПОИСК СВОЕГО ПРЕДНАЗНАЧЕНИЯ</h3>
          <ul>
            <li>неудовлетворенность работой.</li>
            <li>сложности в выборе жизненного пути.</li>
            <li>желание заниматься чем-то, что приносит радость.</li>
          </ul>
        </div>
        </div>
    </div>
    <div class="container md-5 block underline">
    <div class="cases-cluster">
        <div>
          <h3>ПОВЫШЕНИЕ ЛИЧНОЙ ЭФФЕКТИВНОСТИ</h3>
          <ul>
            <li>проблемы с организацией времени.</li>
            <li>желание сбалансировать работу и отдых.</li>
            <li>отсутствие навыков управления приоритетами.</li>
          </ul>
        </div>
    </div>
    </div>
</div>
</div>