{% load static %}
<div id="cases" class="cases block">
<div class="container">
    <h2>С ЧЕМ Я РАБОТАЮ</h2>
    <div class="cases-cluster">
        <div>
        <h3>САМООЦЕНКА И САМОЦЕННОСТЬ</h3>
        <ul>
            <li>постоянная неуверенность в себе;</li>
            <li>сомнения в своих возможностях;</li>
            <li>страх совершить ошибку;</li>
            <li>зависимость от мнения окружающих;</li>
            <li>постоянная неуверенность в себе;</li>
            <li>сомнения в своих возможностях;</li>
            <li>страх совершить ошибку;</li>
            <li>зависимость от мнения окружающих;</li>
        </ul>
        </div>
        <a href="#contacts">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#E4B7A0" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </a>
    </div>
</div>

    <div class="container md-5 block">
    <div class="cases-cluster">
        <div>
        <h3>САМООЦЕНКА И САМОЦЕННОСТЬ</h3>
        <ul>
            <li>постоянная неуверенность в себе;</li>
            <li>сомнения в своих возможностях;</li>
            <li>страх совершить ошибку;</li>
            <li>зависимость от мнения окружающих;</li>
            <li>постоянная неуверенность в себе;</li>
            <li>сомнения в своих возможностях;</li>
            <li>страх совершить ошибку;</li>
            <li>зависимость от мнения окружающих;</li>
        </ul>
        </div>
        <a href="#contacts">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#E4B7A0" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </a>
    </div>
</div>
</div>
