<div id="cases" class="cases block">
<div class="container md-5">
    <h2>С ЧЕМ Я РАБОТАЮ</h2>
    <div class="cases_cluster">
        <h3>САМООЦЕНКА И САМОЦЕННОСТЬ</h3>
        <p>
            постоянная неуверенность в себе;
            сомнения в своих возможностях;
            страх совершить ошибку;
            зависимость от мнения окружающих;
            постоянно сравниваете себя с другими и считаете, что у ваших знакомых все идет классно, а вы чувствуете себя неудачником;
            неумение отстаивать свои границы и интересы;
            регулярные навязчивые мысли "а что скажут люди?";
            страх осуждения;
            неверие в собственные силы, переложение ответственности за свою жизнь на других;
            ваше настроение и самооценка изменяются в зависимости от настроения ваших близких или окружающих людей.
        </p>
    </div>
</div>
</div>