{% load static %}
<div id="contacts" class="contacts block secondary">
    <div class="container">
        <h2>НАПИШИТЕ МНЕ</h2>
    </div>
    <div class="container">
        <div class="contact-cards">
            <div class="contact-card-row">
                <a href="{{ contacts.telegram }}" target="_blank" class="contact-card">
                    <h5>Telegram</h5>
                </a>
                <a href="{{ contacts.whatsapp }}" target="_blank" class="contact-card">
                    <h5>Whatsapp</h5>
                </a>
            </div>
            <div class="contact-card-row">
                <a href="mailto:{{ contacts.email }}" class="contact-card">
                    <h5>Email</h5>
                </a>
                <a href="tel:{{ contacts.phone }}" class="contact-card">
                    <h5>Телефона</h5>
                </a>
            </div>
        </div>
    </div>
</div>