{% load static %}
<div id="contacts" class="contacts block secondary">
    <div class="container">
        <h2>НАПИШИТЕ МНЕ</h2>
    </div>
    <div class="container">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-dark">
            <li class="list-group-item px-3">Telegram</li>
            <li class="list-group-item px-3">Whatsapp</li>
            <li class="list-group-item px-3">E-mail</li>
            <li class="list-group-item px-3">Номер телефона</li>
          </ul>
        </div>
    </div>
</div>